{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}

{% set uploadText %}
  {% if attachments and attachments.length > 0 %}
    Add another document
  {% else %}
    Add a document
  {% endif %}
{% endset %}

{% if documentUploadErr.flag %}
  {% set documentUploadErrorMessage = {
    text: documentUploadErr.text
  } %}
  {% else %}
    {% set documentUploadErrorMessage = false %}
{% endif %}

<div class='file-upload'>
  {{ govukFileUpload({
    id: "file-upload",
    name: "file-upload",
    label: {
      text: uploadText
    },
    errorMessage: documentUploadErrorMessage
  }) }}
  <noscript>
    {{ govukButton({
      text: "Add document",
      classes: "govuk-button--secondary"
    }) }}
  </noscript>
</div>
