{% if attachments and attachments.length > 0 %}
<dl class="govuk-upload-list">
  {% for attachment in attachments | reverse %}
  <div class="ch-upload-list__row uploaded-file-{{loop.index0}}">
    <dt class="ch-upload-list__key govuk-visually-hidden">
      Uploaded file
    </dt>
    <dd class="ch-upload-list__value">
      <a href="#" class="govuk-link">{{ attachment.name }}</a>
    </dd>
    <dd class="ch-upload-list__actions">
      <a class="govuk-link" href="/strike-off-objections/remove-document/{{ attachment.id }}">
        Remove<span class="govuk-visually-hidden"> remove {{ attachment.name }}</span>
      </a>
    </dd>
  </div>
  {% endfor %}
</dl>
{% endif %}
