<script src="{{assetPath}}/javascripts/app/piwik-enable.js"></script>
<script type="application/javascript">
    var SERVICE_NAME = 'strike-off-objections'
    var PIWIK_URL = '{{ PIWIK_URL }}'
    var PIWIK_SITE_ID = '{{ PIWIK_SITE_ID }}'
</script>
<script src="{{assetPath}}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{assetPath}}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
