{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Companies House - GOV.UK
{% endblock %}

{% set documentList %}
  <ul class="govuk-list govuk-list--bullet">
  {% for attachment in objection.attachments | reverse %}
    <li>
      {{ attachment.name }}
    </li>
  {% endfor %}
  </ul>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Check your objection application
      </h1>

      <h2 class="govuk-heading-m">
        Your details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ objection.created_by.email }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ objection.created_by.full_name }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/strike-off-objections/change-answers?changePage=objecting-entity-name" data-event-id="change name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Share identity if company requests it?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ shareIdentity }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/strike-off-objections/change-answers?changePage=objecting-entity-name" data-event-id="change share identity">
              Change<span class="govuk-visually-hidden"> share identity</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Company details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: companyName
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: companyNumber
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Objection details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Reason for objection"
            },
            value: {
              text: objection.reason
            },
            actions: {
              items: [
                {
                  href: "/strike-off-objections/change-answers?changePage=enter-information",
                  text: "Change",
                  visuallyHiddenText: "objection information",
                  attributes: {
                    "data-event-id": "change objection information"
                  }
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              html: documentList
            },
            actions: {
              items: [
                {
                  href: "/strike-off-objections/change-answers?changePage=document-upload",
                  text: "Change",
                  visuallyHiddenText: "uploaded documents",
                  attributes: {
                    "data-event-id": "change uploaded documents"
                  }
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Submit your objection</h2>
      <p>
        By submitting this objection you are confirming that, to the best of your knowledge, the details you are providing are true.
      </p>
      <form method="post">
        {% include "includes/csrf-token.njk" %}
        {{ govukButton({
          text: "Confirm and submit objection",
          preventDoubleClick: true,
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
