{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before submitting your objection application
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/strike-off-objections/document-upload"
  }) }}
{% endblock %}

{% set documentList %}
  <ul class="govuk-list govuk-list--bullet">
  {% for attachment in objection.attachments | reverse %}
    <li>
      <a href="#" class="govuk-link">{{ attachment.name }}</a>
    </li>
  {% endfor %}
  </ul>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Check your objection application
      </h1>

      <h2 class="govuk-heading-m">
        Your details
      </h2>

      {# Note that empty actions are added to the non-changeable rows below, to ensure that a `<span>` element isn't added to the list which will violate accessibility rules #}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: objection.created_by.email
            },

            actions: {
              items: [
                {
                  visuallyHiddenText: "email cannot be changed"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name"
            },
            value: {
              text: objection.created_by.full_name
            },
            actions: {
              items: [
                {
                  href: "/strike-off-objections/change-answers?changePage=objecting-entity-name",
                  text: "Change",
                  visuallyHiddenText: "change name"
                }
              ]
            }
          },
          {
            key: {
              text: "Share identity if company requests it?"
            },
            value: {
              text: shareIdentity
            },

            actions: {
              items: [
                {
                  visuallyHiddenText: "share identity cannot be changed"
                }
              ]
            }
          }
        ]
      })}}

      <h2 class="govuk-heading-m">
        Company details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: companyName
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: companyNumber
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Objection details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Information"
            },
            value: {
              text: objection.reason
            },
            actions: {
              items: [
                {
                  href: "/strike-off-objections/change-answers?changePage=enter-information",
                  text: "Change",
                  visuallyHiddenText: "change objection information"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              html: documentList
            },
            actions: {
              items: [
                {
                  href: "/strike-off-objections/change-answers?changePage=document-upload",
                  text: "Change",
                  visuallyHiddenText: "change uploaded documents"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Submit your objection</h2>
      <p>
        By submitting this objection you are confirming that, to the best of your knowledge, the details you are providing are true.
      </p>
      <form method="post">
        {{ govukButton({
          text: "Confirm and submit objection",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
