{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation - Companies House - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Objection application submitted</h1>
            <div class="govuk-panel__body">
                Your reference number is<br>
                <strong>{{ objectionId }}</strong>
            </div>
        </div>

        <p>
            We have sent a confirmation email to
            <span class="govuk-body-l govuk-!-font-weight-bold">{{ email }}</span>
            which contains the information you've provided for this objection.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We will review the objection application and email you with a decision within 2 weeks.</p>
        <p>If you do not receive an email within 2 weeks, email
            <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>.</p>
        <p>We may contact you during the review process if we need more information.</p>
        <p>
            <a href="https://www.research.net/r/applytoobject-conf">What did you think of this service?</a>
            (takes 2 minutes)</p>

    </div>
</div>

{% endblock %}
