{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/strike-off-objections/company-number"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">{{company.companyName}}</h2>

      {% set inactiveHTML %}
        {% if company.companyStatus === "Inactive" %}
          <span class="govuk-!-font-weight-bold">Dissolved</span>
        {% else %}
          {{company.companyStatus}}
        {% endif %}
      {% endset %}

      {% set address %}
        {{company.address.line_1}}
        <br/>
        {{company.address.line_2}}
        <br/>
        {{company.address.postCode}}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: company.companyNumber
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: inactiveHTML
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: company.incorporationDate
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: company.companyType
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: address
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm and continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
