{% extends "layout.html" %}

{% block download %}
  <meta content="5;URL='{{downloadUrl}}'"/>
{% endblock %}

{% block pageTitle %}
  Your download should start shortly - GOV.UK
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/strike-off-objections"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your document download will start soon</h1>
      <p class="govuk-body-l">
        <a href="{{downloadUrl}}" class="govuk-link">Click here to download your document</a>
        if the download does not start in 10 seconds.</p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{assetPath}}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
