{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Tell us why you're objecting to the company being struck off
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/strike-off-objections/confirm-company"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set titleHTML %}
      <h1 class="govuk-heading-xl">Tell us why you're objecting to the company being struck off</h1>
      {% endset %}

      <form method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: ERROR_TEXT_BOX_EMPTY,
            errorList: errorList
          }) }}
        {% endif %}

        {{ govukTextarea({
          name: "information",
          id: "information",
          classes: "govuk-body",
          value: information,
          hint: {
            text: "Include any information that supports your objection application. You can upload documents on the next screen."
          },
          errorMessage: informationError,
          rows: '8',
          label: {
            text: "Tell us why you're objecting to the company being struck off",
            isPageHeading: true,
            classes: 'govuk-label--xl'
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
