{% extends "layout.html" %}

{% block pageTitle %}
  Apply to object to a company being struck off - Companies House - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block signoutBar %}
<!-- Remove signout bar on this page by replacing it with nothing -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Make an objection
      </h1>

      <p>To object online you need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the limited company number of the company that is being struck off</li>
        <li>your supporting documents in a digital format (these must be images, Microsoft Excel, Microsoft Word or PDF files)</li>
      </ul>

      <p>Your supporting documents must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be less than 6 months old</li>
        <li>clearly show the full name of the company, including the correct name ending - for example ‘limited’ or ‘ltd’</li>
        <li>support your reason for objecting, for example invoices proving the company owes you money</li>
        <li>be less than 4MB in size</li>
      </ul>

      <p>You must object before the company is struck off the register. The Gazette notice will say when the company will be struck off. It will be either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>2 months from the date in the notice</li>
        <li>28 days from the date in the notice</li>
      </ul>

      <p>You must have a Companies House account to make an objection online. You can create an account before you start if you do not have one.</p>
      <form method="post">
        {% include "includes/csrf-token.njk" %}
        {{ govukButton({
          text: "Make an objection",
          isStartButton: true,
          attributes: {
            id: "start-now",
            "data-event-id": "start-now-button",
            "onclick": "_paq.push(['trackGoal', 3])"
          }
        }) }}
      </form>

      <h2 class="govuk-heading-m">Other ways to object</h2>

      <p>Contact Companies House if you cannot object online or need support because of a disability or health condition.</p>
    
      <p>You might get support to use the service, or be able to object by email or post. If you object by email or post, your objection will need to arrive at least 2 weeks before the company will be struck off.</p>

    </div>
  </div>
{% endblock %}
