{% extends "layout.html" %}

{% block pageTitle %}
  Apply to object to a company being struck off
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply to object to a company being struck off
      </h1>

      <p class="govuk-body-l">Use this service to tell us why a company should not be removed from the Companies House register.</p>

      <p>You can only object to a company being struck off after the notice has been published in The Gazette.</p>

      {{ govukDetails({
        summaryText: "What is The Gazette?",
        html: '<p>Official notices about insolvency or companies being struck off are published in
          <a href="https://www.thegazette.co.uk/">The London, Edinburgh and Belfast Gazettes</a>.
          You can search The Gazettes online, and get help using their
          <a href="https://www.thegazette.co.uk/all-notices/content/116">guide to searching</a>.</p>'
      }) }}

      <p>We must receive the objection within 2 months of the publish date.</p>

      <p>We cannot register your objection if the company has already been dissolved and struck off. If you have a legal claim to pursue, the company must be restored first.
        <a href="https://www.gov.uk/guidance/company-restoration-guide#who-makes-the-application">Read the company restoration guidance</a>
        for more information.

      <p>This service takes around 15 minutes. The service will time out after 60 minutes. Your answers will not be saved.</p>
      <form method="post">
        {{ govukButton({
          text: "Start now",
          isStartButton: true,
          attributes: {
            id: "start-now",
            "data-event-id": "start-now-button",
            "onclick": "_paq.push(['trackGoal', 15])"
          }
        }) }}
      </form>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in to or create a Companies House account</li>
        <li>the company details</li>
        <li>to upload evidence to support the objection, for example invoices showing the company is still trading or owes a debt</li>
      </ul>

      <p>Documents must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>show the full name of the company being struck off</li>
        <li>show how the company is being pursued</li>
        <li>be no more than 6 months older than today's date</li>
        <li>show evidence that supports your objection, such as invoices or court documents</li>
      </ul>

    </div>
  </div>
{% endblock %}
