{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/cookie-banner/macro.njk"    import govukCookieBanner %}
{% from "govuk/components/footer/macro.njk"           import govukFooter %}
{% from "govuk/components/header/macro.njk"           import govukHeader %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block head %}

  <!--[if !IE 8]><!-->
  <link href="{{assetPath}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet" />
  <link href="{{assetPath}}/stylesheets/services/strike-off-objections/application.css" rel="stylesheet" />
  <link href="{{assetPath}}/stylesheets/session-timeout.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
  <link href="{{assetPath}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-ie8-3.11.0.min.css" rel="stylesheet" />
  <link href="{{assetPath}}/stylesheets/services/strike-off-objections/application.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
  <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <script src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
  </script>

  {% block download %}
  {% endblock %}
{% endblock %}

{% block bodyStart %}
  {% include "includes/cookie-consent-banner.html" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/strike-off-objections",
    serviceName: "Apply to object to a company being struck off",
    serviceUrl: "/strike-off-objections",
    containerClasses: "govuk-width-container"})
  }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - Help us improve it by providing <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/applytoobject-feedback/" target="_blank" rel="noopener noreferrer">feedback <span class="govuk-visually-hidden">(This link opens in a new window)</span></a>'
  }) }}

  {% block signoutBar %}
  {% if userEmail %}
  {% set email = userEmail | default("Not signed in") %}
  <ul class="js-signout" id="navigation">
    <li class="content-email" id="signed-in-user">{{email}}</li>
    <li class="content">
      <a href="/strike-off-objections/signout" data-event-id="sign-out-button-selected" id="user-signout">Sign out</a>
    </li>
  </ul>
  <script src="{{assetPath}}/javascripts/app/session-timeout.js"></script>
  {% endif %}
  {% endblock %}

  {% block backLink %}
  {% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing govuk-body") %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml",
          text: "Policies"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "/help/contact-us",
          text: "Contact us"
        },
        {
          href: "https://developer.companieshouse.gov.uk/",
          text: "Developers"
        },
        {
          href: "/strike-off-objections/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{assetPath}}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  {% include "includes/piwik-scripts.html" %}
{% endblock %}
