{% extends "layout.html" %}

{% block pageTitle %}
  Notice expired
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        It's too late to object to the company being struck off
      </h1>
      <p>The strike off notice for {{ companyName }} has expired. You can no longer apply to make an objection.</p>
      <p>
        <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening">Contact us</a>
        if you think this information is wrong.</p>
      <p>
        <a href="https://www.gov.uk/guidance/company-restoration-guide">Read the Company Restoration Guide</a>
          to find out more about restoring a company name to the register.</p>

      <p>If this is the wrong company, start the
        <a href="/strike-off-objections">Apply to object to a company being struck off</a>
        service again.</p>

      <p>
        <a href="https://www.research.net/r/applytoobject-noticeexp">What did you think of this service?</a>
          (takes 2 minutes)</p>
    </div>
  </div>
{% endblock %}
