{% extends "layout.html" %}
{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  What is your full name or name of your organisation?
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    href: "/strike-off-objections",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: ERROR_SUMMARY_TITLE,
          errorList: errorList
        }) }}
      {% endif %}
      <form method="post">
        {{ govukInput({
          label: {
            text: "What is your full name or the name of your organisation?",
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          hint: {
            text: "If you are making an application to object on behalf of someone else, enter your own full name or the name of your organisation."
          },
          id: "fullName",
          name: "fullName",
          value: fullNameValue,
          errorMessage: objectingEntityNameErr
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareIdentity",
          name: "shareIdentity",
          fieldset: {
            legend: {
              text: "Can we share your name and email address with the company if they request that information?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: shareIdentityErr,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isYesChecked,
              attributes: {
                "data-event-id": "share-identity-yes"
              }
            },
            {
              value: "no",
              text: "No",
              checked: isNoChecked,
              attributes: {
                "data-event-id": "share-identity-no"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
