{% extends "layout.html" %}
{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  {{ objectingEntityNamePageText }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    href: backLink,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: ERROR_SUMMARY_TITLE,
          errorList: errorList
        }) }}
      {% endif %}
      <form method="post">
        {{ govukInput({
          label: {
            text: objectingEntityNamePageText,
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          id: "fullName",
          name: "fullName",
          value: fullNameValue,
          errorMessage: objectingEntityNameErr
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "shareIdentity",
          name: "shareIdentity",
          fieldset: {
            legend: {
              text: textSharedIdentity,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: shareIdentityErr,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isYesChecked,
              attributes: {
                "data-event-id": "share-identity-yes"
              }
            },
            {
              value: "no",
              text: "No",
              checked: isNoChecked,
              attributes: {
                "data-event-id": "share-identity-no"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
