{% extends "layout.html" %}

{% block pageTitle %}
  Remove document
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}
        {% if errorList.length > 0 %}
          {% set Err = {
            text: Err.text
          } %}
        {% else %}
          {% set Err = false %}
        {% endif %}
        {% set fileNameTitle %}
          Are you sure you want to remove {{fileName}}?
        {% endset -%}
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "remove-document",
          name: "removeDocument",
          errorMessage: Err,
          fieldset: {
            legend: {
              html: fileNameTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        <input type="hidden" id="attachmentId" name="attachmentId" value={{attachmentId}}>
        {{
          govukButton({
            text: "Continue",
            attributes: {
              id: "submit"
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
