{% extends "layout.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - Companies House - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sorry, the service is unavailable
    </h1>
    <p class="govuk-body-m">You will be able to use the service at a later date.</p>
    <p>Email
      <a href="mailto:enquiries@companieshouse.gov.uk">
        enquiries@companieshouse.gov.uk
      </a>
      if you want to object to a limited company being struck off.
    </p>
  </div>
</div>
{% endblock %}
